.pokedexDisplay{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 780px;
}


.pokeBox{
    height: 60px;
    width: 110px;
    background-color: aquamarine;
    margin: 10px;
}
