.pokedexDisplay{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 1rem;
    width: 780px;
    background-color: bisque;
}


.pokeBox{
    height: 60px;
    width: 110px;
    background-color: aquamarine;
    margin: 10px;
}

.electric {
    background-color: yellow;
}

#display{
    margin-left: 100px;
    margin-right: auto;
}
