.pokedexDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .pokemonBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
  }
  
  .pokemonBox h3 {
    margin: 0;
    float: left;
    
  }
  
  .pokemonBox img {
    
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
  }
  